# DMDD ASSIGNMENT 4 ( NORMALIZATION )
### Prathamesh kulkarnj - 001560684
### Shreyas Shetty - 002752852

In [137]:
import pandas as pd

In [138]:
df = pd.read_csv('NormalizationDataset.csv')

In [139]:
df

,index,job_title,company,job_location,job_summary,post_date,today,job_salary,job_url
0,0,Technology Lead : Data Science I Machine Learning,Infosys Limited,"Bengaluru, Karnataka",A day in the life of an Infoscion • As part of...,PostedPosted 30+ days ago,26-07-2022,0,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
1,1,"Software Engineer, Machine Learning",Google,"Bengaluru, Karnataka",2 years of relevant work experience in machine...,PostedPosted 30+ days ago,26-07-2022,0,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
2,2,Experienced Over The Shoulder Mechanic- C17,BOEING,"Mumbai,Maharashtra",This position will focus on supporting the Boe...,PostedPosted 3 days ago,26-07-2022,0,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
3,3,Data Scientist,Infosys Limited,"Bengaluru, Karnataka",Anchor ML development track in a client projec...,PostedPosted 30+ days ago,26-07-2022,0,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
4,4,Python Developer,Infosys Limited,"Bengaluru, Karnataka",Should have a decent understanding of the Mach...,PostedPosted 30+ days ago,26-07-2022,0,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
...,...,...,...,...,...,...,...,...,...
795,795,Java Developer,Oracle,"Bengaluru, Karnataka",Junior consulting position for those who are c...,Posted10 days ago,26-07-2022,0,https://in.indeed.com/rc/clk?jk=2fcc0131a9a2f2...
796,796,Junior Frontend Developer,New Vision Group Holding P. Ltd,"Pune, Maharashtra","Build 2D and 3D applications using fabric.js, ...",Posted4 days ago,26-07-2022,"₹40,000 - ₹50,000 a month",https://in.indeed.com/company/New-Vision-Print...
797,797,Website Development Lead,InnoServ Digital,"Pune, Maharashtra","Understanding company vision and strategy.,Thi...",Posted3 days ago,26-07-2022,0,https://in.indeed.com/rc/clk?jk=689f6c66f62ead...
798,798,IT Application Developer,Lenovo India Private Limited,"Bengaluru, Karnataka",Bachelor's Degree (degree in information syste...,Posted30+ days ago,26-07-2022,0,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
799,799,Operation Engineer-12,Mavenir,"Bengaluru, Karnataka",Specializes in providing assistance to field e...,Posted3 days ago,26-07-2022,0,https://in.indeed.com/rc/clk?jk=13ad8bf4e2e204...

In [140]:
df[['city','State']]=df['job_location'].str.split(',', expand=True)

In [145]:
df

,index,job_title,company,job_location,job_summary,post_date,today,job_url,city,State
0,0,Technology Lead : Data Science I Machine Learning,Infosys Limited,"Bengaluru, Karnataka",A day in the life of an Infoscion • As part of...,PostedPosted 30+ days ago,26-07-2022,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Bengaluru,Karnataka
1,1,"Software Engineer, Machine Learning",Google,"Bengaluru, Karnataka",2 years of relevant work experience in machine...,PostedPosted 30+ days ago,26-07-2022,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Bengaluru,Karnataka
2,2,Experienced Over The Shoulder Mechanic- C17,BOEING,"Mumbai,Maharashtra",This position will focus on supporting the Boe...,PostedPosted 3 days ago,26-07-2022,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Mumbai,Maharashtra
3,3,Data Scientist,Infosys Limited,"Bengaluru, Karnataka",Anchor ML development track in a client projec...,PostedPosted 30+ days ago,26-07-2022,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Bengaluru,Karnataka
4,4,Python Developer,Infosys Limited,"Bengaluru, Karnataka",Should have a decent understanding of the Mach...,PostedPosted 30+ days ago,26-07-2022,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Bengaluru,Karnataka
...,...,...,...,...,...,...,...,...,...,...
795,795,Java Developer,Oracle,"Bengaluru, Karnataka",Junior consulting position for those who are c...,Posted10 days ago,26-07-2022,https://in.indeed.com/rc/clk?jk=2fcc0131a9a2f2...,Bengaluru,Karnataka
796,796,Junior Frontend Developer,New Vision Group Holding P. Ltd,"Pune, Maharashtra","Build 2D and 3D applications using fabric.js, ...",Posted4 days ago,26-07-2022,https://in.indeed.com/company/New-Vision-Print...,Pune,Maharashtra
797,797,Website Development Lead,InnoServ Digital,"Pune, Maharashtra","Understanding company vision and strategy.,Thi...",Posted3 days ago,26-07-2022,https://in.indeed.com/rc/clk?jk=689f6c66f62ead...,Pune,Maharashtra
798,798,IT Application Developer,Lenovo India Private Limited,"Bengaluru, Karnataka",Bachelor's Degree (degree in information syste...,Posted30+ days ago,26-07-2022,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Bengaluru,Karnataka
799,799,Operation Engineer-12,Mavenir,"Bengaluru, Karnataka",Specializes in providing assistance to field e...,Posted3 days ago,26-07-2022,https://in.indeed.com/rc/clk?jk=13ad8bf4e2e204...,Bengaluru,Karnataka

In [147]:
df

,index,job_title,company,job_location,job_summary,post_date,today,job_url,city,State
0,0,Technology Lead : Data Science I Machine Learning,Infosys Limited,"Bengaluru, Karnataka",A day in the life of an Infoscion • As part of...,PostedPosted 30+ days ago,26-07-2022,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Bengaluru,Karnataka
1,1,"Software Engineer, Machine Learning",Google,"Bengaluru, Karnataka",2 years of relevant work experience in machine...,PostedPosted 30+ days ago,26-07-2022,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Bengaluru,Karnataka
2,2,Experienced Over The Shoulder Mechanic- C17,BOEING,"Mumbai,Maharashtra",This position will focus on supporting the Boe...,PostedPosted 3 days ago,26-07-2022,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Mumbai,Maharashtra
3,3,Data Scientist,Infosys Limited,"Bengaluru, Karnataka",Anchor ML development track in a client projec...,PostedPosted 30+ days ago,26-07-2022,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Bengaluru,Karnataka
4,4,Python Developer,Infosys Limited,"Bengaluru, Karnataka",Should have a decent understanding of the Mach...,PostedPosted 30+ days ago,26-07-2022,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Bengaluru,Karnataka
...,...,...,...,...,...,...,...,...,...,...
795,795,Java Developer,Oracle,"Bengaluru, Karnataka",Junior consulting position for those who are c...,Posted10 days ago,26-07-2022,https://in.indeed.com/rc/clk?jk=2fcc0131a9a2f2...,Bengaluru,Karnataka
796,796,Junior Frontend Developer,New Vision Group Holding P. Ltd,"Pune, Maharashtra","Build 2D and 3D applications using fabric.js, ...",Posted4 days ago,26-07-2022,https://in.indeed.com/company/New-Vision-Print...,Pune,Maharashtra
797,797,Website Development Lead,InnoServ Digital,"Pune, Maharashtra","Understanding company vision and strategy.,Thi...",Posted3 days ago,26-07-2022,https://in.indeed.com/rc/clk?jk=689f6c66f62ead...,Pune,Maharashtra
798,798,IT Application Developer,Lenovo India Private Limited,"Bengaluru, Karnataka",Bachelor's Degree (degree in information syste...,Posted30+ days ago,26-07-2022,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Bengaluru,Karnataka
799,799,Operation Engineer-12,Mavenir,"Bengaluru, Karnataka",Specializes in providing assistance to field e...,Posted3 days ago,26-07-2022,https://in.indeed.com/rc/clk?jk=13ad8bf4e2e204...,Bengaluru,Karnataka

In [148]:
for i in list:
    a=a+1
    if(i==' Maharashtra'):
        print(a)

2183

In [149]:
df2 = df[['index' ,'job_title','job_url', 'job_summary']]

In [150]:
df2

,index,job_title,job_url,job_summary
0,0,Technology Lead : Data Science I Machine Learning,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,A day in the life of an Infoscion • As part of...
1,1,"Software Engineer, Machine Learning",https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,2 years of relevant work experience in machine...
2,2,Experienced Over The Shoulder Mechanic- C17,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,This position will focus on supporting the Boe...
3,3,Data Scientist,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Anchor ML development track in a client projec...
4,4,Python Developer,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Should have a decent understanding of the Mach...
...,...,...,...,...
795,795,Java Developer,https://in.indeed.com/rc/clk?jk=2fcc0131a9a2f2...,Junior consulting position for those who are c...
796,796,Junior Frontend Developer,https://in.indeed.com/company/New-Vision-Print...,"Build 2D and 3D applications using fabric.js, ..."
797,797,Website Development Lead,https://in.indeed.com/rc/clk?jk=689f6c66f62ead...,"Understanding company vision and strategy.,Thi..."
798,798,IT Application Developer,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Bachelor's Degree (degree in information syste...
799,799,Operation Engineer-12,https://in.indeed.com/rc/clk?jk=13ad8bf4e2e204...,Specializes in providing assistance to field e...

In [151]:
df4 = df[['city', 'State']]

In [152]:
df4

          city         State
0    Bengaluru     Karnataka
1    Bengaluru     Karnataka
2       Mumbai  Maharashtra
3    Bengaluru     Karnataka
4    Bengaluru     Karnataka
..         ...           ...
795  Bengaluru     Karnataka
796       Pune   Maharashtra
797       Pune   Maharashtra
798  Bengaluru     Karnataka
799  Bengaluru     Karnataka

[800 rows x 2 columns]